<div class="container">
    <div class="row">
      <div class="col" *ngFor="let section of sections">
        <div class="card">
          <div class="card-header">
            <i [class]="section.icon"></i>
            <span>{{ section.title }}</span>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Federação</th>
                  <th>Aferições por unidade operacional</th>
                  <th>Percentual da meta atingido</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let federation of section.federations; let i = index">
                  <td>
                    <span [ngClass]="{'fa-medal gold': i === 0, 'fa-medal silver': i === 1, 'fa-medal bronze': i === 2}"></span>
                    {{ federation.name }}
                  </td>
                  <td>
                    <div>{{ federation.value }}</div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" 
                           [style.width.%]="(federation.value / section.maxValue) * 100" 
                           [attr.aria-valuenow]="(federation.value / section.maxValue) * 100"
                           aria-valuemin="0" 
                           aria-valuemax="100" 
                           [ngClass]="section.progressBarClass">
                      </div>
                    </div>
                  </td>
                  <td>
                    {{ federation.percentage }}%
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  