<div class="tab-container">
    <div class="container">
      <div class="header">
        <h1>Ranking por Federação</h1>
        <h6>AVALIAÇÕES VEICULARES AMBIENTE-PERCENTUAL DA META ATINGIDA</h6>
      </div>
    </div>
  
    <div class="border">
      <div class="year-month-container">
        <div class="year">
          <label>Ano</label>
          <div><input type="radio" name="year" value="2022"> 2022</div>
          <div><input type="radio" name="year" value="2023"> 2023</div>
          <div><input type="radio" name="year" value="2024" checked> 2024</div>
        </div>
        <div class="month">
          <label>Mês</label>
          <div><input type="radio" name="month" value="janeiro"> janeiro</div>
          <div><input type="radio" name="month" value="fevereiro"> fevereiro</div>
          <div><input type="radio" name="month" value="março"> março</div>
          <div><input type="radio" name="month" value="abril"> abril</div>
          <div><input type="radio" name="month" value="maio"> maio</div>
          <div><input type="radio" name="month" value="junho" checked> junho</div>
          <div><input type="radio" name="month" value="julho"> julho</div>
          <div><input type="radio" name="month" value="agosto"> agosto</div>
          <div><input type="radio" name="month" value="setembro"> setembro</div>
          <div><input type="radio" name="month" value="outubro"> outubro</div>
          <div><input type="radio" name="month" value="novembro"> novembro</div>
          <div><input type="radio" name="month" value="dezembro"> dezembro</div>
        </div>
      </div>

      <div class="ranking">
        <h5>Ranking Geral de Produtividade por Federação</h5>
        <canvas id="rankingChart"></canvas>
      </div>
  
      <div class="legend-resume">
        <div class="legend">
          <h6>LEGENDA</h6>
          <div><span class="color-box" style="background-color: #db3434;"></span> Atingiu 120% ou mais da meta</div>
          <div><span class="color-box" style="background-color: #1c5de9;"></span> Atingiu entre 100% e 119.9% da meta</div>
          <div><span class="color-box" style="background-color: #a5e01b;"></span> Atingiu entre 50% e 99.9% da meta</div>
          <div><span class="color-box" style="background-color: #a12ac5;"></span> Atingiu entre 0% e 49.9% da meta</div>
        </div>
  
        <div class="resume">
          <h6>RESUMO</h6>
          <p>13 Federações atingiram 120% ou mais da meta</p>
          <p>10 Federações atingiram entre 100% e 119.9% da meta</p>
          <p>0 Federação atingiu entre 50% e 99.9% da meta</p>
          <p>1 Federação atingiu até 49.9% da meta</p>
        </div>
        
        <div class="percentage-chart">
            <canvas id="percentageChart"></canvas>
        </div>

      </div>
      
    </div>

  