.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin: 1;
}

.border {
    background-color: #28a745; /* Cor de fundo acinzentada */
    padding: 40px;
    margin-top: 20px;
    width: fit-content;
    width: 95%; /* Ajuste a largura conforme necessário */
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.year-month-container {
    background-color: #fff; /* Fundo branco */
    border: 1px solid #fff; /* Borda branca */
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px; /* Aumenta o espaço acima do conteúdo */
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
    width: 260px; /* Largura fixa */
    height: 640px; /* Altura fixa */
    display: flex; /* Ajustes para separar o conteúdo dentro do container */
    flex-direction: column;
    margin-right: 0px; /* Reduz espaço entre as bordas */
}

.ranking-container {
    background-color: #fff; /* Fundo branco */
    border: 1px solid #fff; /* Borda branca */
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px; /* Aumenta o espaço acima do conteúdo */
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
    width: 1475px; /* Aumenta a largura fixa */
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
}

.ranking-container h5 {
    width: 100%;
    text-align: center;
}

.year {
    margin-bottom: 25px; /* Espaçamento abaixo do conteúdo "Ano" */
}

.month {
    margin-top: 25px; /* Espaçamento acima do conteúdo "Mês" */
}

.segment {
    margin-top: 25px; /* Espaçamento acima do conteúdo "Mês" */
}

input[type="radio"] {
    border-radius: 50%; /* Deixa os botões de radio redondos */
}

input[type="checkbox"]:checked {
    background-color: #007bff; /* Preenche o checkbox selecionado com preto */
}

canvas#rankingtrans {
    width: 100%; /* Ajusta a largura do gráfico para preencher o container */
}
