<div class="tab-container">
  <div class="container">
    <div class="header">
      <h1>Ranking de Transportadores atendidos</h1>
    </div>
  </div>

  <div class="border">
    <div class="year-month-container">
      <div class="year">
        <label>Ano</label>
        <div><input type="radio" name="year" value="2023" (change)="onYearMonthSegmentChange()"> 2023</div>
        <div><input type="radio" name="year" value="2024" checked (change)="onYearMonthSegmentChange()"> 2024</div>
      </div>
      <div class="month">
        <label>Mês</label>
        <div><input type="checkbox" id="select-all-months" (click)="selectAllMonths($event)"> Selecionar tudo</div>
        <div><input type="checkbox" name="month" value="janeiro" (change)="onYearMonthSegmentChange()"> janeiro</div>
        <div><input type="checkbox" name="month" value="fevereiro" (change)="onYearMonthSegmentChange()"> fevereiro</div>
        <div><input type="checkbox" name="month" value="março" (change)="onYearMonthSegmentChange()"> março</div>
        <div><input type="checkbox" name="month" value="abril" (change)="onYearMonthSegmentChange()"> abril</div>
        <div><input type="checkbox" name="month" value="maio" (change)="onYearMonthSegmentChange()"> maio</div>
        <div><input type="checkbox" name="month" value="junho" checked (change)="onYearMonthSegmentChange()"> junho</div>
      </div>
      <div class="segment">
        <label>Segmento</label>
        <div><input type="checkbox" name="segment" value="autonomo" checked (change)="onYearMonthSegmentChange()"> Autônomo</div>
        <div><input type="checkbox" name="segment" value="cargas" (change)="onYearMonthSegmentChange()"> Cargas</div>
        <div><input type="checkbox" name="segment" value="misto" (change)="onYearMonthSegmentChange()"> Misto</div>
        <div><input type="checkbox" name="segment" value="passageiros" (change)="onYearMonthSegmentChange()"> Passageiros</div>
      </div>
    </div>
    
    <div class="ranking-container">
      <h5>Números de transportadores atendidos por Federação</h5>
      <canvas id="rankingtrans"></canvas>
    </div>
  </div>
</div>
